[Desktop Entry]
Name=xclock
GenericName=X clock
Comment="analog / digital clock for X"
Exec=xclock
Icon=xclock
Terminal=false
Type=Application
StartupWMClass=XClock
StartupNotify=true
Keywords=clock;
Categories=Utility;Clock;
